@font-face {
	font-family: "MadeOuterSansRegular";
	src: url("../fonts/MadeOuterSansRegular.otf") format("opentype");
}

@font-face {
	font-family: "MadeOuterSansThin";
	src: url("../fonts/MadeOuterSansThin.otf") format("opentype");
}

@font-face {
	font-family: "MorganiteBold";
	src: url("../fonts/MorganiteBold.ttf") format("truetype");
}

body{
	background: #000000;
}

header {
	height: 140px;
	background: #000000;
	padding: 0 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'MadeOuterSansRegular';
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	color: #F7F5F9;
}

.navigation {
	display: flex;
	align-items: center;
	svg {
		cursor: pointer;
	}
	&__list{
		display: flex;
	}
	&__item {
		padding: 0 20px;
	}
	&__link {
		text-decoration: none;
		font-family: 'MadeOuterSansRegular';
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 18px;
		color: #F7F5F9;
	}
}

.info-block {
	display: flex;
	align-items: center;
}

.phone {
	margin-right: 60px;
}

.language {
	display: flex;
	cursor: pointer;
	&_disabled{
		color: rgba(255, 255, 255, 0.3);
	}
	& div:first-child {
		margin-right: 8px;
	}
}

.image-container {
	margin-right: 60px;
	position: relative;
}

.item-number {
	width: 25px;
	height: 22px;
	top: -13px;
	right: -16px;
	position: absolute;
	span{
		font-family: 'MadeOuterSansRegular';
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		color: #E50012;
		position: absolute;
		top: 4px;
		right: 8px;
	}
}

.card{
	width: calc(100% / 5);
	height: 800px;
	position: relative;
	padding: 0 45px;
	max-width: 352px;
	box-sizing: border-box;
	cursor: pointer;
	&-wrapper {
		display: flex;
		padding: 0 60px;
		justify-content: space-between;
	}
	&_first{
		background: url(../images/mystery.png) no-repeat;
	}
	&_second{
		background: url(../images/action.png) no-repeat;
	}
	&_third{
		background: url(../images/adventure.png) no-repeat;
	}
	&_forth{
		background: url(../images/horror.png) no-repeat;
	}
	&_fifth{
		background: url(../images/horror2.png) no-repeat;
	}
}

.text {
	&-wrapper {
		font-family: 'MadeOuterSansRegular';
		font-style: normal;
		color: #F7F5F9;
		position: absolute;
		height: 170px;
		bottom: 0px;
	}
	&_big{
		font-size: 36px;
		line-height: 36px;
		font-weight: bold;
		max-width: 246px;
	}
	&_small{
		font-weight: 200;
		font-size: 14px;
		line-height: 24px;
		font-family: 'MadeOuterSansThin';
		position: absolute;
		bottom: 50px;
		white-space: nowrap;
		svg {
			margin-left: 10px;
			vertical-align: text-bottom;
		}
	}
}

.discount {
	position: absolute;
	background: url(../images/tape.png) no-repeat;
	top: 29px;
	left: -5px;
	width: 102%;
	height: 81px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 26px 0 17px;
	box-sizing: border-box;
	.off {
		font-family: 'MorganiteBold';
		font-style: normal;
		font-size: 56px;
		line-height: 56px;
		text-transform: uppercase;
		color: #F7F5F9;
		transform: matrix(1, 0.01, -0.01, 1, 0, 0);
	}
	.time-block {
		text-align: right;
		&_time {
			font-family: 'MadeOuterSansRegular';
			font-style: normal;
			font-weight: 900;
			font-size: 18px;
			line-height: 23px;
			color: #F7F5F9;
			transform: matrix(1, 0.01, -0.01, 1, 0, 0);
		}
		&_small-text {
			font-family: 'MadeOuterSansThin';
			font-style: normal;
			font-weight: 200;
			font-size: 14px;
			line-height: 24px;
			color: #F7F5F9;
			transform: matrix(1, 0.01, -0.01, 1, 0, 0);
		}
	}
}